<h1>Shorten your link!</h1>

<mat-card>
  <form
    (ngSubmit)="onSend()"
    class="example-form"
    fxLayout="column"
    fxLayoutAlign="center center"
    #form="ngForm"
  >
    <mat-form-field class="example-full-width" appearance="outline" fxFlexFill>
      <mat-label>URL</mat-label>
      <input name="originalUrl" matInput appUrl required ngModel #url>
    </mat-form-field>

    <button
      mat-raised-button
      color="warn"
      [disabled]="form.invalid"
    >
      <span class="material-icons">
        send
      </span>
    </button>
  </form>
</mat-card>

<mat-card *ngIf="shortLink" fxLayout="column" fxLayoutAlign="center center">
  <h3>Your link now looks like this:</h3>
  <a [href]="apiUrl + '/links/' + shortLink" target="_blank">{{ apiUrl + '/' + shortLink }}</a>
</mat-card>
