h1
  text-align: center
  margin: 20px

mat-card
  width: 70%
  margin: 20px auto
  box-shadow: 0 0 4px 1px lightgray !important

mat-card:hover
  box-shadow: 0 0 7px 3px lightgray !important

h3
  font-weight: bold

a
  cursor: pointer

small
  margin-top: -10px
  color: red
  font-size: 10px
  text-align: left
